.agjjejw{
    text-align: center;
    margin: 20px;
}
.fjrhja{
    display: block;
    border-top: 1px solid rgb(187, 187, 187);
    padding: 30px 0px 10px;

}
.gfdgghh{

    margin: 0px 10px;
}
.gijpjg img{ 
    position: relative;
    top: 4px;
}
.gijpjg{
    padding: 40px 0px;
    border-bottom: 1px solid rgb(187, 187, 187);
}
.fsgg{
    margin: 52px 0px 10px;
}
.ghahy{
    margin-bottom: 35px;
}
.liuyan{
    padding: 20px;
    margin-bottom: 50px;
   
}
.liuygran{
    padding-left:40px;
}
.tyjtyhrt{
    width: 45%;;
    display: inline-block;
    height: 40px;
    margin: 10px 0%;
}

.hehtryr{
    display: inline-block;
    width: 50px;
    text-align: right;
    line-height: 40px;
}
.hehtryfdr{
    display: inline-block;
    width: 50px;
    text-align: right;
    line-height: 40px;
    vertical-align: top
}
.joijwwfgh{
    display: inline-block;
    height: 100%;
    border: 1px solid #555;
    vertical-align: top;
    margin-left: 10px;
    padding-left: 1%;
    width: calc(93% - 50px )

}
.joijwwfgh input{
    height: 100%;
    width: 100%;
    border: none;
}
.ghehyr{
    width: 100%;
    margin: 30px 0px;
}
.ffsaeh{
   
    width: 81%;
    display: inline-block;
    border: 1px solid #555;
    vertical-align: top;
    margin-left: 10px;
    padding: 1%;
}
.gregrwh{
    width: 100%;
    height: 100px;
    border: none;
  
}
.jopjopi{
    width: 100%;;
    text-align: center;
    position: relative;
}
.ghjjkjk{
    border: none;
    margin-right: 2%;
    background: #a2a1a1;
    width: 40%;
    line-height: 40px;
    color: rgb(255, 255, 255);
    vertical-align: top;
}
.disibt{
    height: 40px;
    width: 30%;
    box-sizing:border-box;
    border: 1px solid #555;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;

}
.disibt input{
    width: 100%;
    height: 100%;
 
}

.gasghhj{
    width: 15.5%;
    display: inline-block;
    vertical-align: top
}
.fgshhfghys{width:100%px;height:300px;border:#ccc solid 1px;}