@media screen and (max-width: 980px) { 
    
    aside{
        display: none;
    }
    section{
        width: 100%;
        margin-left: 0px;
    }
    .navtop{display: block;}
    
    }  
    @media screen and (max-width: 720px) { 
        
       
        .fewfgh{
             
            display: block;
            float: none;
            margin: 10px 0px;
            font-size: 12px;
        }
     }  
        @media screen and (max-width: 440px) { 
       
         .fdsewwaamm{
             font-size: 14px;
             font-weight: bold;
             margin: 0px 0px 10px
             
         }
       .xq-title{padding: 0px 0px 20px}
         
                }     